version: "3"
services:
  db:
    image: postgis/postgis:13-3.0
    environment:
      - POSTGRES_DB=mapboard
      - POSTGRES_USER=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "54321:5432"
    expose:
      - 5432
    volumes:
      - db_cluster:/var/lib/postgresql/data
  app:
    build: .
    environment:
      - MAPBOARD_SRID=4326
    ports:
      - "3006:3006"
    expose:
      - "3006"
volumes:
  db_cluster:
